<!DOCTYPE HYML>
<html>
  <head>
    <title>オムライス丼Bot - official</title>
    <!-- <script type="text/javascript" src="js/main.js"></script> -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body>
    <h1>
      ようこそ! オム丼公式サイトへ!!
    </h1>
    <div class="question">
      <h2>
        オムライス丼Botってなぁに？
      </h2>
      <h3>
        オム丼Botは、オムライス丼をイメージした<a href="https://lainan.one/"
          >Lainan</a
        >に似ている多機能Bot(の予定)です。
      </h3>
    <h2>
      導入するには?
    </h2>
      <h3>
        <a href="https://discord.com/api/oauth2/authorize?client_id=739435559658979348&permissions=8&scope=bot">ここ</a>をCLICKして導入!
      </h3>
      <h2>
        機能はどんなの?
      </h2>
      <h3>
        機能の一覧を見るには<a href="readme.html">Readme</a>を見るといいでしょう!
      </h3>
    </div>
  </body>
</html>
