<!DOCTYPE HYML>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# prefix属性: http://ogp.me/ns/ website#">
<meta property="og:url" content=" ページの URL" />
<meta property="og:type" content=" ページの種類" />
<meta property="og:title" content=" ページの タイトル" />
<meta property="og:description" content=" ページのディスクリプション" />
<meta property="og:site_name" content="サイト名" />
<meta property="og:image" content=" サムネイル画像の URL" />
    <title>オムライス丼Bot - official</title>
    <!-- <script type="text/javascript" src="js/main.js"></script> -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link
      rel="shortcut icon"
      href="https://cdn.glitch.com/4949075b-7416-4729-a2b5-f54d21c295e2%2F%E3%81%8A%E3%82%80%E3%81%A9%E3%82%93.jpg"
    />
  </head>
  <body>
    <h1>
      ようこそ! オム丼公式サイトへ!!
    </h1>
    <div class="question">
      <h2>
        オムライス丼Botってなぁに？
      </h2>
      <h3>
        オム丼Botは、オムライス丼をイメージした<a href="https://lainan.one/"
          >Lainan</a
        >に似ている多機能Bot(の予定)です。
      </h3>
      <h2>
        導入するには?
      </h2>
      <h3>
        <a
          href="https://discord.com/api/oauth2/authorize?client_id=739435559658979348&permissions=8&scope=bot"
          >ここ</a
        >をCLICKして導入!
      </h3>
      <h2>
        機能はどんなの?
      </h2>
      <h3>
        機能の一覧を見るには<a href="readme.html">Readme</a
        >を見るといいでしょう!
      </h3>
    </div>
  </body>
</html>
